{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container col-xxl-8 px-4 py-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/side.png' %}" class="d-block mx-lg-auto img-fluid" alt="DesktopMini FrontImage"
        width="700" height="600" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Thank you for your Order!</h1>
      <p class="lead">You should recieve an order confirmation receipt in your inbox soon, If you have any questions, please email
        <a href="mailto:contact@desktopmini.co.uk" style="color: #b87333">contact@desktopmini.co.uk</a>.
      </p>
    </div>
  </div>
</div>

<!-- <section>
    <p>
      We appreciate your business! If you have any questions, please email
      <a href="mailto:contact@desktopmini.co.uk">contact@desktopmini.co.uk</a>.
      <p>Thanks for your order, {{customer.name}}!</p>
    </p>
  </section> -->
  
{% endblock content %}