{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    
    <div class="column">
        <div id="img-container">
            <div id="lens"></div>
            <img id =featured src="{{product.imageUrl}}">
        </div>

        <div id="slide-wrapper">
            <i id="slideLeft" class="arrow bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
            <div id="slider">
                {% for image in product.productgallery_set.all %}

                <img class="thumbnail" src="{{image.imageUrl}}">

                {% endfor %}
            </div>
            <i id="slideRight" class="arrow bi bi-arrow-right-circle" style="font-size: 1.5rem;"></i>
        </div>
    </div>

    <div class="column">
        <h1>{{product}}</h1>
        <hr>
        <h3>£{{product.price}}</h3>

        <p>{{product.description}}</p>

        <input value="1" type="number">
        <a class="btn btn-grad btn-lg" href="#" style="display: inline;">Add to Bag</a>
    </div>

</div>

<div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Specifications:</h1>
        <p class="lead">Model:</p>
        <div class="justify-content-center">
            <a class="btn btn-grad-2 btn-lg" href="#" style="display: inline;">6-Core</a>
            <a class="btn btn-grad-2 btn-lg" href="#" style="display: inline;">8-Core</a>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Feature</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">CPU</th>
            <td>i5 11th Gen</td>
          </tr>
          <tr>
            <th scope="row">Storage</th>
            <td>256GB </td>
          </tr>
          <tr>
            <th scope="row">Memory</th>
            <td>8GB DDR4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<script type="text/javascript" src="{% static 'js/slider.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/zoom.js' %}" ></script>

{% endblock content %}