{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="content-wrapper">
    
    <div class="column">
        <div id="img-container">
            <div id="lens"></div>
            <img id =featured src="{{product.imageUrl}}">
        </div>

        <div id="slide-wrapper">
            <i id="slideLeft" class="arrow bi bi-arrow-left-circle" style="font-size: 1.5rem;"></i>
            <div id="slider">
                {% for image in product.productgallery_set.all %}

                <img class="thumbnail" src="{{image.imageUrl}}">

                {% endfor %}
            </div>
            <i id="slideRight" class="arrow bi bi-arrow-right-circle" style="font-size: 1.5rem;"></i>
        </div>
    </div>

    <div class="column">
        <h1>{{product}}</h1>
        <hr>
        <h3>£{{product.price}}</h3>

        <p>{{product.description|linebreaks }}</p>

        <input value="1" type="number">
        <a class="btn btn-grad btn-lg" href="#" style="display: inline;">Add to Bag</a>
    </div>

</div>

<div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Specifications:</h1>
        <p class="lead">Model:</p>
        <div class="justify-content-center">
            <a class="btn btn-grad-2 btn-lg" href="#" style="display: inline;">6-Core</a>
            <a class="btn btn-grad-2 btn-lg" href="#" style="display: inline;">8-Core</a>
        </div>
      </div>
      <table class="table table-hover table-responsive align-middle">
        <thead>
          <tr>
            <th scope="col">Feature</th>
            <th scope="col">Detail</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Finish</th>
            <td>{{product.finish}}</td>
          </tr>
          <tr>
            <th scope="row">CPU</th>
            <td>{{product.processor}}</td>
          </tr>
          <tr>
            <th scope="row">Storage</th>
            <td>{{product.storage}}</td>
          </tr>
          <tr>
            <th scope="row">Memory</th>
            <td>{{product.memory}}</td>
          </tr>
          <tr>
            <th scope="row">Video Support</th>
            <td>{{product.video_support|linebreaks }}</td>
          </tr>
          <tr>
            <th scope="row">Audio</th>
            <td>{{product.audio|linebreaks }}</td>
          </tr>
          <tr>
            <th scope="row">Connection</th>
            <td>{{product.connections|linebreaks }}</td>
          </tr>
          <tr>
            <th scope="row">Communications</th>
            <td>{{product.communications|linebreaks }}</td>
          </tr>
          <tr>
            <th scope="row">Height</th>
            <td>{{product.height}}</td>
          </tr>
          <tr>
            <th scope="row">Width</th>
            <td>{{product.width}}</td>
          </tr>
          <tr>
            <th scope="row">Depth</th>
            <td>{{product.depth}}</td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td>{{product.weight}}</td>
          </tr>
          <tr>
            <th scope="row">Warranty</th>
            <td>{{product.warranty|linebreaks }}</td>
          </tr>
          <tr>
            <th scope="row">In The Box</th>
            <td>{{product.in_the_box|linebreaks }}</td>
          </tr>
          <tr>
            <th scope="row">Operating System</th>
            <td>{{product.operating_system|linebreaks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<script type="text/javascript" src="{% static 'js/slider.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/zoom.js' %}" ></script>

{% endblock content %}