{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container col-xxl-8 px-4 py-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/side.png' %}" class="d-block mx-lg-auto img-fluid" alt="DesktopMini FrontImage"
        width="700" height="600" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">The Silent Aluminum Desktop</h1>
      <p class="lead">The Desktop Mini is a premium industrial-styled computer design for completely silent operation.
        Perfect for home office, video editing, sound mixing, and home theater use cases. Made with sandblasted aluminum
        in a clean silver or matte black.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-grad btn-lg px-4" onclick="javascript:animateScroll()">Take a look</a>
      </div>
    </div>
  </div>
</div>

<div class="container" id="featured-3">
  <h2 class="pb-2 border-bottom">Features</h2>
  <div class="row g-5 py-5">
    <div class="feature col-md-4">
      <div class="feature-icon bg-copper-grad">
        <svg class="bi bi-volume-mute" xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor"
          class="bi bi-volume-mute" viewBox="0 0 16 16">
          <path
            d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zM6 5.04 4.312 6.39A.5.5 0 0 1 4 6.5H2v3h2a.5.5 0 0 1 .312.11L6 10.96V5.04zm7.854.606a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z" />
        </svg>
        </svg>
      </div>
      <h2>Dead Silent</h2>
      <p>Operating with no fans in the chassis,  this means no matter the workload it's quieter than a whisper</p>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon bg-copper-grad">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-palette2"
          viewBox="0 0 16 16">
          <path
            d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 .5.5v5.277l4.147-4.131a.5.5 0 0 1 .707 0l3.535 3.536a.5.5 0 0 1 0 .708L10.261 10H15.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H3a2.99 2.99 0 0 1-2.121-.879A2.99 2.99 0 0 1 0 13.044m6-.21 7.328-7.3-2.829-2.828L6 7.188v5.647zM4.5 13a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zM15 15v-4H9.258l-4.015 4H15zM0 .5v12.495V.5z" />
          <path d="M0 12.995V13a3.07 3.07 0 0 0 0-.005z" />
        </svg>
      </div>
      <h2>Industrial Design</h2>
      <p>Operating with no fans in the chassis,  this means no matter the workload it's quieter than a whisper</p>
    </div>
    <div class="feature col-md-4">
      <div class="feature-icon bg-copper-grad">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-wallet2"
          viewBox="0 0 16 16">
          <path
            d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
        </svg>
      </div>
      <h2>Value For Money</h2>
      <p>Operating with no fans in the chassis,  this means no matter the workload it's quieter than a whisper</p>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Small Footprint</h1>
      <p class="lead">The Desktop Mini is a premium industrial-styled computer design for completely silent operation.
        Perfect for home office, video editing, sound mixing, and home theater use cases. Made with sandblasted aluminum
        in a clean silver or matte black.</p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/desktopmini_size.png' %}" class="d-block mx-lg-auto img-fluid"
        alt="DesktopMini FrontImage" width="700" height="600" loading="lazy">
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <table class="charts-css bar show-heading show-labels">
        <caption> CPU Perfomance (Cinebench R23) </caption>
        <thead>
          <tr>
            <th scope="col">Computer</th>
            <th scope="col">Mutli-Core Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">DesktopMini</td>
            <td>8192</td>
          </tr>
          <tr>
            <td scope="row">Apple M1 Mac Mini</td>
            <td>7508</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Performance</h1>
      <p class="lead">The Desktop Mini is a premium industrial-styled computer design for completely silent operation.
        Perfect for home office, video editing, sound mixing, and home theater use cases. Made with sandblasted aluminum
        in a clean silver or matte black.</p>
    </div>
  </div>
</div>

<div class="container col-xxl-10 pt-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-4">
      <h1 class="display-5 fw-bold lh-1 mb-3">Order Today</h1>
      <p class="lead">The Desktop Mini is a premium industrial-styled computer design for completely silent operation.
        Perfect for home office, video editing, sound mixing, and home theater use cases. Made with sandblasted aluminum
        in a clean silver or matte black.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-grad btn-lg px-4" onclick="javascript:animateScroll()">Buy</a>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card" style="padding:30px;">
        <img src="{% static 'img/desktopmini_horizontal.png' %}" class="d-block mx-lg-auto img-fluid"
          alt="DesktopMini FrontImage" width="700" height="600" loading="lazy">
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container for the image gallery -->
<div class="container">

  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="{% static 'img/desktopmini_horizontal.png' %}" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="img_5terre_wide.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="img_mountains_wide.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="img_lights_wide.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="img_nature_wide.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="img_snow_wide.jpg" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="{% static 'img/desktopmini_horizontal.png' %}" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
    </div>
    <div class="column">
      <img class="demo cursor" src="{% static 'img/desktopmini_size.png' %}" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_mountains.jpg" style="width:100%" onclick="currentSlide(3)"
        alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_lights.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_nature.jpg" style="width:100%" onclick="currentSlide(5)"
        alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="img_snow.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
    </div>
  </div>
</div>



<script type="text/javascript">
  function animateScroll() {
    window.scroll({ top: 1500, left: 0, behavior: 'smooth' });
  }
</script>


{% endblock content %}