<!-- FAQ Modal -->
<div class="modal fade" id="ModalFAQ" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">FAQ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
              <h6>Q: What is your refund policy?</h6>
              <a>A: 28 Day return policy in complience with UK Law</a>
              <h6 class="mt-4">Q: What types of payments do you accept?</h6> 
              <a>A: Thanks to Stripe payment integration we offer all major cards alongside
                Google and Apple Pay.
              </a>
              <h6 class="mt-4">Q: Is the Desktop Mini actually silent?</h6>
              <a>A: When we say silent, we mean silent. Most computers generate noise through
                fan operation or Electromagnetically induced acoustic noise. Desktop Mini uses 
                passive cooling and has quality checked components to ensure no audible sound is present.
              </a>
          </ul>
        </div>
      </div>
    </div>
</div>

<!-- Repair Modal -->
<div class="modal fade" id="ModalRepair" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Repair Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
            <a>If you'd rather us take care of repairability or upgrades, start a ticket through
               a contact us panel so we can arrange a fast affordable service.</a>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Troubleshooting Modal -->
<div class="modal fade" id="ModalTroubleshooting" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Troubleshooting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <ul>
            <h6>Boot Failure:</h6>
            <a>Please check that you have no USB bootable disks connected already and use the window 10 boot repair to
               resolve you issue (this will automatically start after 3 failed boot attempts.</a>
            <h6 class="mt-4">Blank Computer Screen:</h6>
            <a>Check that either the DisplayPort cable or HDMI cable is connected to your TV/Monitor correctly
              and that the TV/Monitor screen your using is powered on. If you see a display but Windows 10 is 
              not booting then please see Windows 10 Troubleshooting page.
            </a>
            <h6 class="mt-4">Poor Internet Connections:</h6>
            <a>Please check your internet is correctly working by looking at your router or seeing if you can
              access the internet on another device. Alternatively if your internet is slow but working try moving
              closer to you router or using a cabled solution.
            </a>
            <h6 class="mt-4">Issue not listed:</h6>
            <a>Please issue a ticket through our contact email so that we can get back to you via email, 
              text or phone to resolve your issue. Alternatively check the Windows 10 support page 
              <a href="https://support.microsoft.com/en-us/topic/troubleshoot-repair-ceaa4aee-fa3b-4ca4-9ddb-bde4dc310dc9?ui=en-us&rs=en-us&ad=us">here.</a>
            </a>
        </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Warranty Modal -->
<div class="modal fade" id="ModalWarranty" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warranty</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <h6>Warranty Status:</h6>
          <p>Please use the ticket support to check your warranty status to submit you Desktop
            Mini serial number (located at the back of the computer).
          </p>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Download Modal -->
<div class="modal fade" id="ModalDownload" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Download Page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <h6>Windows 11 install Media:</h6>
          <p>Windows 11 Update / Install media utility: <a target="_blank" href="https://www.microsoft.com/en-gb/software-download/windows11">Download</a></p>
          <h6 class="mt-4">Packaged Software:</h6>
          <p>Ninite application package: <a href="https://ninite.com/chrome-vlc-winrar/ninite.exe">Download</a></p>
        </ul>
      </div>
    </div>
  </div>
</div>

