<!-- Modal -->
<div class="modal fade" id="ModalFAQ" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">FAQ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
              <h6>What is your refund policy?</h6>
              <li>28 Day return policy in complience with UK Law</li>
              <h6 class="mt-2">What is your refund policy?</h6> 
              <li>28 Day return policy in complience with UK Law</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>