{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container py-4">
  <div class="row align-items-md-stretch" style="padding-bottom: 100px;">
    <div class="col-md-8" data-aos="" data-aos-duration="3000">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Fully Modular. Future Proof.</h2>
        <p>We use high grade off-the-shelf parts and not proprietary hardware, this means that you have control of the future of your product not us.</p>
        <button class="btn btn-light" type="button">See Specs</button>
      </div>
    </div>
    <div class="col-md-4" data-aos="" data-aos-duration="3000">
      <div class="h-100 p-5 text-white bg-dark rounded-3" style="background-image: linear-gradient(to right, #b83333 0%, #ff7a59  100%)">
        <h2>NVMe™ SSD Storage</h2>
        <p>Desktop Mini features PCIe Storage - Speeds with reads up to 3.5GB/s and writes up to 3GB/s. Over 5x the speed of a typical PC.</p>
        <!-- <button class="btn btn-light" type="button">Example button</button> -->
      </div>
    </div>
  </div>
  
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Contact</h1>
        <p class="col-md-8 fs-4">Please let us know if you have any questions or quieries, drop us email with the link below.</p>
        <div class="d-flex justify-content-center ">
          <form action="mailto:contact@desktopmini.co.uk" method="get" enctype="text/plain">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Full Name">
            </div>
            <div class="form-group">
              <label for="email" style="padding-top: 10px;">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="comments" style="padding-top: 10px;">Message</label>
              <textarea type="text" class="form-control" id="comments" rows="12" cols="45" placeholder="How can we help?"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}



