/**
    SCROLL BAR
*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color:rgb(255, 255, 255); ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 126, 126);
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}